<style>
    #hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-darl bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store/products' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='{% url "store/home" %}'>Features</a>
            </li>
        </ul>
    </div>

    <span id="hello-msg">Hello, {{request.user}}</span>
    <span><a href='{% url "store/logout" %}''>Logout</a></span>
</nav>